LMIPy.egg-info/
build/
dist/
docs/_build
docs/_static
docs/_templates

# Nbk Stuff
test_nbk.ipynb
.ipynb_checkpoints/
.DS_Store
LMI-dev-nbk.ipynb
LMIPy/__pycache__/
Untitled.ipynb

sample.geojson
.vscode
.coverage
keys.json
coverage.xml
data/